/* Author Image styling */
.author-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

/* Blog header section */
.blog-header {
    display: flex;
    align-items: center;
}

/* Author's name and post date styling */
.author-name {
    font-size: 17px;
}
.post-date {
    font-size: 14px;
    color: #6c757d; /* Muted text color */
}

/* Blog content styling */
.blog-content {
    font-size: 16px;
    color: #343a40; /* Darker text for better readability */
}

/* Heading styling */
h3, h2 {
    font-weight: 700;
    color: #333;
}

h3 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.75rem;
}

/* Unordered list styling */
ul {
    list-style-type: disc;
    margin-top: 20px;
}

ul li {
    margin-bottom: 10px;
}

/* Padding for lists inside the blog */
ul.px-4 {
    padding-left: 1.5rem;
}

/* Spacing between sections */
.mt-4 {
    margin-top: 1.5rem;
}

.my-3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.my-4 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
