@media (min-width: 576px) {
    .modal-dialog {
        max-width: 100%;
        margin: 42px 140px;
    }
}
.modal-header {
    border-bottom: 0px;
}
.modal-footer {
    border-top: 0px;
}
h6{
    margin-bottom: 0px;
}
p{
    margin-bottom: 0px;
}
.modal-header img{
    background-color: lightgray;
    border-radius: 25px;
    height: 50px;
    width: 50px;
}
.button{
    background-color: white;
    color: black;
    border: 1px solid #dfdfe0;
}
.button:hover{
    background-color: white;
    color: black;
    border: 1px solid black;
}
.modal-body{
    padding: 1rem 2rem;
}
.modal-body .imagesection img{
    width: 100%;
    height: 400px;
}
.modal-body .imagesection{
    height: 470px;
}

.infobtn{
    float: right;
    padding: 1rem 0px;
}
.card {
    height: 380px;
    padding: 2rem 1rem;
    background: #fff;
    position: relative;
    display: flex;
    align-items: flex-end;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5, );
    transition: 0.5s ease-in-out;
    padding: 20px;

}
.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}
.name-text {
    color: white;
    font-weight: bolder;
    font-family: serif;
}
.card-img-overlay {
    visibility: hidden;
    opacity: 0;
    background-image: linear-gradient();
    height: 100% !important;
    width: 100% !important;
}

.card:hover .card-img-overlay {
    visibility: visible;
    opacity: 1;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));

}
.over-css:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
}