/* @keyframes skeleton-load {
    0% {
      background-color: #e0e0e0;
    }
    50% {
      background-color: #c7c7c7;
    }
    100% {
      background-color: #e0e0e0;
    }
  }
  
  .lazy-image {
      width: 100%;
      height: auto;
      border-radius: 8px;
      object-fit: cover;
  }
   */

   /* Add this CSS to LazyLoadImage.css */
@keyframes skeleton-load {
    0% {
      background-color: #e0e0e0;
    }
    50% {
      background-color: #c7c7c7;
    }
    100% {
      background-color: #e0e0e0;
    }
  }
  
  .lazy-image {
      width: 100%;
      height: auto;
      border-radius: 8px;
      object-fit: cover;
      transition: opacity 0.5s ease-in-out, transform 0.8s ease-out;
  }
  
  .skeleton-container {
      position: relative;
      width: 100%;
      height: 100%;
  }
  
  .skeleton-loader {
      width: 100%;
      height: 100%;
      background-color: #f0f0f0;
      animation: skeleton-load 1.5s ease-in-out infinite;
      border-radius: 8px;
  }
  