.video-banner {
    position: relative;
    height: 70vh;
    overflow: hidden;
}

.video-banner video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.banner-content {
    position: relative;
    z-index: 2;
    color: white;
    text-align: center;
    top: 20%;
}

.navbar {
    z-index: 3;
}

.dropdown-menu {
    display: none;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.dropdown:hover .dropdown-menu {
    display: block;
    opacity: 1;
}

.dropdown-menu a {
    padding: 10px;
}

.home-banner-coutmoe-css {
    gap: 20px 0px !important;
}

@media (max-width: 576px) {
    .overlay-cards-css {
        height: 200px !important;
    }

    .overlay-coffe-cards-css {
        height: auto !important;
    }

    .home-banner-coutmoe-css {
        gap: 4px 0px !important;
    }
}